@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 83% 94%;
    --foreground: 200 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 200 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 30% 20%;
    --primary: 197 75% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 50% 85%;
    --secondary-foreground: 200 30% 20%;
    --muted: 197 50% 90%;
    --muted-foreground: 200 25% 45%;
    --accent: 45 100% 69%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 197 50% 80%;
    --input: 197 50% 88%;
    --ring: 197 75% 49%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 220 40% 5%;
    --foreground: 210 40% 98%;
    --card: 220 40% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 75% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 40% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 40% 15%;
    --muted-foreground: 210 40% 60%;
    --accent: 45 100% 69%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 40% 15%;
    --input: 220 40% 15%;
    --ring: 197 75% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
